/* Imported Normalize */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
details,
section,
summary,
aside,
main,
menu,
nav,
figcaption,
figure,
footer,
header,
hgroup {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
dfn {
  font-style: italic;
}
mark {
  background: #e9e97e;
  color: #111;
}
b,
strong {
  font-weight: bold;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}
input[type='search'] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
/* My code */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  overflow-x: hidden !important;
}
body {
  font-family: 'Share Tech', Arial, Helvetica, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
  background: #3f5c6c;
}
a {
  text-decoration: none;
  color: #fff45b;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
a:hover {
  color: #f49d1e;
}
p {
  margin: 1em auto;
  font-size: 20px;
  line-height: 23px;
}
p.blues {
  color: #66ddea;
}
h1,
h2,
h3,
h4,
.scroller a {
  font-family: 'Chau Philomene One', cursive, Arial, Helvetica, sans-serif;
  font-weight: 100;
}
h2,
h3,
h4 {
  margin: 1em 0;
}
img {
  max-width: 100%;
  height: auto;
}
.clearfix {
  zoom: 1;
}
.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.blue-section {
  background: #3f5c6c;
  color: #fff;
  position: relative;
}
.wrapped {
  max-width: 890px;
  margin: 0 auto;
  position: relative;
  background: rgba(255,255,255,0.81);
  color: #284656;
}
.centered {
  max-width: 890px;
  margin: 0 auto;
  position: relative;
}
.margin-sides {
  margin-left: 60px;
  margin-right: 60px;
}
.margin-top {
  margin-top: 60px;
}
.round-top {
  border-radius: 4px 4px 0 0;
}
.round-bottom {
  border-radius: 0 0 4px 4px;
}
.round {
  border-radius: 4px;
}
.padding {
  padding: 20px 40px;
}
.super-text {
  font-size: 2em;
}
.big-text {
  font-size: 1.6em;
  line-height: 0.4;
}
.white {
  color: #fff;
}
.p-img {
  display: block;
  float: left;
  max-width: 100%;
  margin: 20px 20px 20px 0;
  background: rgba(255,255,255,0.5);
  padding: 10px;
  border-radius: 4px;
}
.p-img img {
  max-width: 100%;
  height: auto;
}

.container {
	width: 100vw;
	height: 100vh;
	min-height: 820px;
	min-height: -webkit-calc(100vw / 1.33);
	min-height: calc(100vw / 1.33);
	overflow: hidden;
	position: relative;
	margin: 0px auto;
	background: #0a6291;
	background: url(dataimage/svg+xmlbase64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBhNjI5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q2ZWJjNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0MzYwNmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0a6291), color-stop(50%,#d6ebc6), color-stop(100%,#43606e));
	background: -webkit-linear-gradient(top, #0a6291 0%,#d6ebc6 50%,#43606e 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#0a6291), color-stop(50%, #d6ebc6), to(#43606e));
	background: -webkit-linear-gradient(top, #0a6291 0%, #d6ebc6 50%, #43606e 100%);
	background: linear-gradient(to bottom, #0a6291 0%,#d6ebc6 50%,#43606e 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a6291', endColorstr='#43606e',GradientType=0);
}
.inverted-gradient{
	background: #081E29;
	background: url(dataimage/svg+xmlbase64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA4MWUyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzAyMDkwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg2JSIgc3RvcC1jb2xvcj0iIzAyMDkwZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAzMDUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000305), color-stop(25%,#02090f), color-stop(86%,#02090f), color-stop(100%,#081E29));
	background: -webkit-linear-gradient(top, #081E29 0%,#02090f 25%,#02090f 86%,#000305 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#081E29), color-stop(25%, #02090f), color-stop(86%, #02090f), to(#000305));
	background: -webkit-linear-gradient(top, #081E29 0%, #02090f 25%, #02090f 86%, #000305 100%);
	background: linear-gradient(to bottom, #081E29 0%,#02090f 25%,#02090f 86%,#000305 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#081E29', endColorstr='#000305',GradientType=0 );
	color: white;
}
.black-gradient{
	background: #000305;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDMwNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDE3MjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000305), color-stop(100%,#001721));
	background: -webkit-linear-gradient(top,  #000305 0%,#001721 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#000305), to(#001721));
	background: -webkit-linear-gradient(top, #000305 0%, #001721 100%);
	background: linear-gradient(to bottom,  #000305 0%,#001721 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000305', endColorstr='#001721',GradientType=0 );
	color: white;
}
.blue-gradient {
	background: #172831;
	background: url(dataimage/svg+xmlbase64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzE3MjgzMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzA0MGIxNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwODFlMjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#172831), color-stop(50%,#040b14), color-stop(100%,#081e29));
	background: -webkit-linear-gradient(top, #172831 0%,#040b14 50%,#081e29 100%);
	background: -webkit-gradient(linear, left top, left bottom, from(#172831), color-stop(50%, #040b14), to(#081e29));
	background: -webkit-linear-gradient(top, #172831 0%, #040b14 50%, #081e29 100%);
	background: linear-gradient(to bottom, #172831 0%,#040b14 50%,#081e29 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#172831', endColorstr='#081e29',GradientType=0 );
	color: white;
}
.white-light{
	background: #dceef2;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2RjZWVmMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzllZWZkYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dceef2), color-stop(98%,#9eefdc));
	background: -webkit-linear-gradient(top,  #dceef2 0%,#9eefdc 98%);
	background: -webkit-gradient(linear, left top, left bottom, from(#dceef2), color-stop(98%, #9eefdc));
	background: -webkit-linear-gradient(top, #dceef2 0%, #9eefdc 98%);
	background: linear-gradient(to bottom,  #dceef2 0%,#9eefdc 98%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dceef2', endColorstr='#9eefdc',GradientType=0 );
}
.light-light-blue{
	background: #9eefdc;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzllZWZkYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzFjYWRiNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9eefdc), color-stop(98%,#1cadb5));
	background: -webkit-linear-gradient(top,  #9eefdc 0%,#1cadb5 98%);
	background: -webkit-gradient(linear, left top, left bottom, from(#9eefdc), color-stop(98%, #1cadb5));
	background: -webkit-linear-gradient(top, #9eefdc 0%, #1cadb5 98%);
	background: linear-gradient(to bottom,  #9eefdc 0%,#1cadb5 98%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9eefdc', endColorstr='#1cadb5',GradientType=0 );
}
.blue-orange {
	background: #1cadb5;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjYWRiNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzFkNjg3NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1cadb5), color-stop(98%,#1d6875));
	background: -webkit-linear-gradient(top,  #1cadb5 0%,#1d6875 98%);
	background: -webkit-gradient(linear, left top, left bottom, from(#1cadb5), color-stop(98%, #1d6875));
	background: -webkit-linear-gradient(top, #1cadb5 0%, #1d6875 98%);
	background: linear-gradient(to bottom,  #1cadb5 0%,#1d6875 98%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1cadb5', endColorstr='#1d6875',GradientType=0 );
}
.orange-light-blue {
	background: #1d6875;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFkNjg3NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzIyNDk1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1d6875), color-stop(98%,#22495b));
	background: -webkit-linear-gradient(top,  #1d6875 0%,#22495b 98%);
	background: -webkit-gradient(linear, left top, left bottom, from(#1d6875), color-stop(98%, #22495b));
	background: -webkit-linear-gradient(top, #1d6875 0%, #22495b 98%);
	background: linear-gradient(to bottom,  #1d6875 0%,#22495b 98%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d6875', endColorstr='#22495b',GradientType=0 );
	color: white;
}
.light-blue-blue {
	background: #22495b;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIyNDk1YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk4JSIgc3RvcC1jb2xvcj0iIzE3MjgzMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#22495b), color-stop(98%,#172831));
	background: -webkit-linear-gradient(top,  #22495b 0%,#172831 98%);
	background: -webkit-gradient(linear, left top, left bottom, from(#22495b), color-stop(98%, #172831));
	background: -webkit-linear-gradient(top, #22495b 0%, #172831 98%);
	background: linear-gradient(to bottom,  #22495b 0%,#172831 98%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#22495b', endColorstr='#172831',GradientType=0 );
	color: white;
}
.blue-all {
	background-color: #081e29;
	color: white;
}
#main-container {
  overflow: hidden;
}
.background {
  width: 100vw;
  height: 100vh;
}
.layer div:not(.flex-content) {
  margin-top: 5vh;
  position: relative;
  top: 16px;
  left: 0;
}
.layer div.level-1 {
  top: 0px;
}
.layer div.level-0 {
  top: 2vh;
  left: auto;
  width: 100vw;
  -webkit-filter: drop-shadow(-10px 3px 4px rgba(0,0,0,0.4)) !important;
          filter: drop-shadow(-10px 3px 4px rgba(0,0,0,0.4)) !important;
}
.layer div.level-0 h1 {
  font-size: 120px;
  line-height: 48px;
  color: #fff;
  text-shadow: 0 0px 3px #3f82a9;
}
.layer div.level-0 h1 small {
  font-size: 45%;
}
.layer div img {
  width: 100vw;
  height: auto;
}
.layer div.level-5-5 img {
  width: 22vw;
  height: auto;
  position: relative;
  top: -10vh;
  left: 72vw;
  -webkit-filter: drop-shadow(-10px 3px 4px rgba(0,0,0,0.4));
          filter: drop-shadow(-10px 3px 4px rgba(0,0,0,0.4));
}
.layer div.level-1-1 img {
  width: 560px;
  display: block;
  left: 50vw;
  margin-left: -190px;
  height: 420px;
  top: 560px;
  position: relative;
  -webkit-filter: hue-rotate(45deg) blur(1px);
          filter: hue-rotate(45deg) blur(1px);
}
.layer div.level-3 {
  top: 15px;
}
.layer div.level-3-3 img {
  width: 3vw;
  height: auto;
  position: relative;
  top: 22vh;
  left: 14vw;
  -webkit-filter: drop-shadow(-10px 3px 4px rgba(0,0,0,0.4));
          filter: drop-shadow(-10px 3px 4px rgba(0,0,0,0.4));
}
.layer div.level-5 img,
.layer div.level-6 img {
  width: 120vw;
  height: auto;
  margin-left: -10vw;
}
.scroller {
  position: absolute;
  width: 100vw;
  height: auto;
  left: 0px;
  text-align: center;
  bottom: 5%;
}
.scroller span {
  position: relative;
  bottom: -90%;
  top: auto;
  display: inline-block;
  border-radius: 128px;
  padding: 0;
  background: rgba(255,255,255,0.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 2px solid #fff;
}
button,
button:focus,
button:active {
  cursor: pointer;
  border-radius: 128px;
  padding: 0px 16px 0px;
  background: rgba(0,0,0,0.6);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  line-height: 32px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,0.44);
  box-shadow: 0 0 10px 3px rgba(0,0,0,0.44);
  outline: none;
}
button:hover,
.scroller span:hover {
  background: #fff;
  color: #000;
  -webkit-box-shadow: 0 0 40px 0 #fff;
  box-shadow: 0 0 40px 0 #fff;
}
@media all and (max-width: 480px) {
  .layer div.level-0 {
    font-size: 32px;
    top: -16vh;
  }
  .layer div:not(.flex-content) {
    margin-top: 12vh;
    top: 16px;
    left: 0;
  }
  .layer div.level-3 {
    top: 0px;
  }
  .layer div.level-4 {
    top: 0px;
  }
  .layer div.level-3-3 img {
    top: 0;
    width: 20px;
  }
  .layer div.level-5-5 img {
    top: -20px;
  }
  .container {
    height: 100vh;
    min-height: 480px;
  }
  .scroller a {
    bottom: -80%;
  }
}
.sitename div,
.pajaro .wrap,
.level-5-5,
.mano img,
.cat img {
  -webkit-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
}
.out .sitename div {
  -webkit-transform: translateY(90vh) scale(3);
  -ms-transform: translateY(90vh) scale(3);
  transform: translateY(90vh) scale(3);
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.out .pajaro .wrap {
  -webkit-transform: translateX(100vw) translateY(100vh) scale(1.3);
  -ms-transform: translateX(100vw) translateY(100vh) scale(1.3);
  transform: translateX(100vw) translateY(100vh) scale(1.3);
}
.out .level-5-5 {
  -webkit-transform: translateX(-100vw) translateY(150vh) scale(0.5);
  -ms-transform: translateX(-100vw) translateY(150vh) scale(0.5);
  transform: translateX(-100vw) translateY(150vh) scale(0.5);
}
#page-2 .fp-tableCell,
#page-2a .fp-tableCell,
#page-2b .fp-tableCell,
#page-5 .fp-tableCell,
#page-5c .fp-tableCell {
  background: url("../images/stars2.png") repeat fixed center top;
  position: relative;
  text-align: center;
  -webkit-animation: wave-medium 15s infinite linear;
  animation: wave-medium 15s infinite linear;
}
#page-2 h2 {
  font-size: 4em;
  margin-top: 0;
}
#page-2 h4 {
  font-size: 2em;
}
#page-2 p {
  font-size: 1.4em;
  color: #fff;
  font-weight: 900;
  font-family: "Open Sans", Arial, Ubuntu, sans-serif;
}
.flex-content {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-content.content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.mano img {
  display: inline-block;
  position: absolute !important;
  bottom: -10vh !important;
  left: -10vw !important;
  width: auto !important;
  max-height: 90vh !important;
}
.mano.out img {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.cat img {
  display: inline-block;
  position: absolute !important;
  top: 45vh !important;
  left: 55vw !important;
  width: 40px !important;
  height: auto;
  -webkit-filter: drop-shadow(-10px 3px 4px rgba(0,0,0,0.4));
          filter: drop-shadow(-10px 3px 4px rgba(0,0,0,0.4));
}
.cat.out img {
  width: 130px !important;
  top: -96vh !important;
  left: 70vw !important;
}
.cat.out-down img {
  width: 1px !important;
  top: 110vh !important;
  left: 55vw !important;
}
.bola-beis img {
  display: inline-block;
  position: absolute !important;
  top: -10vh !important;
  left: -10vw !important;
  width: 100% !important;
  height: auto;
}
.bola-azul img {
  display: inline-block;
  position: absolute !important;
  top: -10vh !important;
  left: 0 !important;
  width: 100% !important;
  height: auto;
}
.fondo-section-2 {
  background: url("../images/parallax-banner/fondo-section-2.jpg") scroll no-repeat center top;
  background-size: cover;
  color: #fff;
  text-shadow: 0 1px 8px #000;
}
.text-shadow {
  text-shadow: 0 1px 8px #000;
}
#page-2b {
  min-height: 740px;
}
#page-2b .flex-content {
  -webkit-box-pack: start;
  -o-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  height: auto;
}
#page-2b img {
  width: 160px;
  position: relative;
  top: 10px;
  display: inline-block;
  -webkit-transition: all 0.65s ease-out;
  transition: all 0.65s ease-out;
  pointer-events: none;
  opacity: 0.6;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
  filter: alpha(opacity=60);
}
#page-2b img.sorpresa {
  position: absolute;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  margin-top: -80px;
  -webkit-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
#page-2b img.sorpresa.top {
  top: -150%;
}
#page-2b img.sorpresa.bottom {
  top: 250%;
}
#page-2b img.sorpresa.left {
  left: -600px;
}
#page-2b img.sorpresa.right {
  right: -600px;
}
#page-2b .btn-block {
  min-width: 200px;
  -webkit-transition: all 0.5s cubic-bezier(0.96, 0.63, 0.85, 0.96);
  transition: all 0.5s cubic-bezier(0.96, 0.63, 0.85, 0.96);
  font-size: 140%;
  display: inline-block;
  border-radius: 50%;
  padding: 20px 50px;
  position: relative;
  border: 14px inset #cacaca;
  background: rgba(11,31,44,0.54);
  -webkit-box-shadow: inset 0px 20px 70px 30px rgba(255,255,255,0.15), 0 3px 20px 3px rgba(0,0,0,0.6);
  box-shadow: inset 0px 20px 70px 30px rgba(255,255,255,0.15), 0 3px 20px 3px rgba(0,0,0,0.6);
}
#page-2b .btn-block h2 {
  margin: 0 auto;
}
#page-2b .btn-block:hover {
  background: rgba(0,0,0,0);
  border-color: transparent;
  -webkit-box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,0), 0 0 0 rgba(0,0,0,0);
  box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,0), 0 0 0 rgba(0,0,0,0);
}
#page-2b .btn-block:hover .initial-image {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -webkit-transform: scale(0) rotate(720deg);
  -ms-transform: scale(0) rotate(720deg);
  transform: scale(0) rotate(720deg);
}
#page-2b .btn-block:hover .sorpresa {
  opacity: 1;
  -ms-filter: none;
  -webkit-filter: none;
          filter: none;
}
#page-2b .btn-block:hover .top {
  top: 150px;
}
#page-2b .btn-block:hover .bottom {
  top: 150px;
}
#page-2b .btn-block:hover .left {
  left: 50px;
}
#page-2b .btn-block:hover .right {
  right: 50px;
}
#page-2b .link-1,
#page-2b .link-2,
#page-2b .link-3,
#page-2b .link-4 {
  position: relative;
}
#page-2b .link-1 {
  -webkit-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
}
#page-2b .link-2 {
  -webkit-transition: all 4.6s ease-in-out 0.4s;
  transition: all 4.6s ease-in-out 0.4s;
}
#page-2b .link-3 {
  -webkit-transition: all 4.2s ease-in-out 0.6s;
  transition: all 4.2s ease-in-out 0.6s;
}
#page-2b .link-4 {
  -webkit-transition: all 3.4s ease-in-out 0.9s;
  transition: all 3.4s ease-in-out 0.9s;
}
#page-2b .link-1.out {
  -webkit-transform: translateX(-200%) translateY(-150%) scale(0.5);
  -ms-transform: translateX(-200%) translateY(-150%) scale(0.5);
  transform: translateX(-200%) translateY(-150%) scale(0.5);
}
#page-2b .link-2.out {
  -webkit-transform: translateX(200%) translateY(-150%) scale(0.5);
  -ms-transform: translateX(200%) translateY(-150%) scale(0.5);
  transform: translateX(200%) translateY(-150%) scale(0.5);
}
#page-2b .link-3.out {
  -webkit-transform: translateX(-150%) translateY(150%) scale(0.5);
  -ms-transform: translateX(-150%) translateY(150%) scale(0.5);
  transform: translateX(-150%) translateY(150%) scale(0.5);
}
#page-2b .link-4.out {
  -webkit-transform: translateX(150%) translateY(150%) scale(0.5);
  -ms-transform: translateX(150%) translateY(150%) scale(0.5);
  transform: translateX(150%) translateY(150%) scale(0.5);
}
@media screen and (max-height: 677px) {
  #page-2b img {
    width: 80px;
  }
  #page-2b .btn-block {
    padding: 20px 28px;
    max-width: 200px;
  }
}
#controls {
  position: fixed;
  bottom: 10px;
  right: 10px;
}
button#audio_control {
  padding: 0;
  line-height: 0.6;
}
button#audio_control span {
  background-size: 24px 24px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 12px;
  height: 24px;
  width: 24px;
  display: inline-block;
  background-color: #fff;
}
button#audio_control.vol-off span {
  background-image: url("../images/vol-off.png");
}
button#audio_control.vol-on span {
  background-image: url("../images/vol-on.png");
}
button#page-down {
  padding: 0;
  line-height: 0.6;
  margin-right: 12px;
}
button#page-down span {
  background-size: 24px 24px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 12px;
  height: 24px;
  width: 24px;
  display: inline-block;
  background-color: #fff;
  background-image: url("../images/arrow-down.png");
}
button#page-up {
  padding: 0;
  line-height: 0.6;
  margin-right: 12px;
}
button#page-up span {
  background-size: 24px 24px;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 12px;
  height: 24px;
  width: 24px;
  display: inline-block;
  background-color: #fff;
  background-image: url("../images/arrow-up.png");
}
.dark-blue {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  margin: 0px auto;
  border-bottom: 50px groove #b2b5b1;
  background: #19282f;
  color: #fff;
}
#page-3 .fp-tableCell {
  vertical-align: top;
}
#page-3 h2 {
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 12px;
  text-shadow: 0 0px 3px #3f82a9;
  -webkit-filter: drop-shadow(-10px 3px 4px rgba(0,0,0,0.4));
          filter: drop-shadow(-10px 3px 4px rgba(0,0,0,0.4));
}
#page-3 h3 {
  font-size: 3em;
  margin: 0 auto;
  text-shadow: 0 0px 3px #010101;
  -webkit-filter: drop-shadow(-10px 3px 4px rgba(0,0,0,0.4));
          filter: drop-shadow(-10px 3px 4px rgba(0,0,0,0.4));
}
#page-3 h4 {
  font-size: 2em;
  margin-top: 10px;
  margin-bottom: 10px;
  text-shadow: 0 0px 3px #010101;
  -webkit-filter: drop-shadow(-10px 3px 4px rgba(0,0,0,0.4));
          filter: drop-shadow(-10px 3px 4px rgba(0,0,0,0.4));
}
#page-3 p {
  font-size: 1em;
  padding: 1em 0.4em;
  color: #fff;
  font-weight: 400;
  font-family: "Open Sans", Arial, Ubuntu, sans-serif;
  -webkit-filter: drop-shadow(0px 10px 6px #000);
          filter: drop-shadow(0px 10px 6px #000);
}
#page-3 .layer div img {
  max-width: 100%;
  height: auto;
}
.flex-rows {
  width: 90%;
  margin: 0 5%;
  height: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -o-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-row-full {
  width: 100%;
}
.column {
  margin-top: 0 !important;
  padding: 20px;
  top: 0 !important;
}
.column img {
  display: inline-block;
  max-width: 100%;
  width: 128px !important;
  margin: 0 auto;
  height: auto;
  -webkit-filter: drop-shadow(0px 10px 4px rgba(0,0,0,0.3));
          filter: drop-shadow(0px 10px 4px rgba(0,0,0,0.3));
}
.background-plus {
  width: 110vw;
  height: auto;
  top: 0 !important;
  margin-top: 0 !important;
}
.black-bg {
  background-color: rgba(8,19,29,0.74);
}
#page-3c .layer img {
  position: relative;
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: top 5s ease-in-out, left 5s ease-in-out, opacity 3s linear;
  transition: top 5s ease-in-out, left 5s ease-in-out, opacity 3s linear;
  top: 0;
  left: 0;
}
#page-3c.out .layer img {
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
#page-3c.out .layer img.left-invert {
  left: -100vw !important;
}
#page-3c.out .layer img.top {
  top: 50vh !important;
}
#page-3c.out .layer img.left {
  left: 100vw !important;
}
.bg-clouds-pre {
  background: url("../images/parallax-banner/level-6.png") 0px top repeat;
  background-size: cover;
}
.bg-clouds {
  background: url("../images/parallax-banner/level-5.png") 0px top repeat, url("../images/parallax-banner/level-6.png") 0px top repeat;
  background-size: cover;
}
.bg-slide {
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.wave {
  -webkit-animation: wave 4s 0.1s infinite linear;
  animation: wave 4s 0.1s infinite linear;
}
.wave .wave {
  -webkit-animation: wave 6s 0.2s infinite linear;
  animation: wave 6s 0.2s infinite linear;
}
.wave-slow {
  -webkit-animation: wave-slow 15s infinite linear;
  animation: wave-slow 15s infinite linear;
}
.wave-medium {
  -webkit-animation: wave-medium 11s infinite linear;
  animation: wave-medium 11s infinite linear;
}
.wave-scale {
  -webkit-animation: wave-scale 6s infinite linear;
  animation: wave-scale 6s infinite linear;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.lighthouse {
  -webkit-animation: lighthouse 6s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: lighthouse 6s 0.1s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transform-origin: 50% -50%;
  -ms-transform-origin: 50% -50%;
  transform-origin: 50% -50%;
}
.swing {
  -webkit-animation: swing 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  animation: swing 4s infinite alternate cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transform-origin: 50% 90%;
  -ms-transform-origin: 50% 90%;
  transform-origin: 50% 90%;
}
.bouncer {
  -webkit-animation: bounce ease-in-out 2s;
  animation: bounce ease-in-out 2s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.bounce-1,
.bounce-2,
.bounce-3,
.bounce-4,
.bounce-5,
.bounce-6 {
  -webkit-animation: bounce ease-in-out 10s;
  animation: bounce ease-in-out 10s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.bounce-2 {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s;
}
.bounce-3 {
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}
.bounce-4 {
  -webkit-animation-delay: 3.6s;
  animation-delay: 3.6s;
}
.bounce-5 {
  -webkit-animation-delay: 4.8s;
  animation-delay: 4.8s;
}
.bounce-6 {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}
@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    -ms-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    -ms-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}
@keyframes wave {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    -ms-transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 10%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    -ms-transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
    transform: rotateZ(360deg) translate3d(0, 10%, 0) rotateZ(-360deg);
  }
}
@-webkit-keyframes wave-slow {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 3%, 0) rotateZ(0deg);
    -ms-transform: rotateZ(0deg) translate3d(0, 3%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 3%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(359deg) translate3d(0, 3%, 0) rotateZ(-359deg);
    -ms-transform: rotateZ(359deg) translate3d(0, 3%, 0) rotateZ(-359deg);
    transform: rotateZ(359deg) translate3d(0, 3%, 0) rotateZ(-359deg);
  }
}
@keyframes wave-slow {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 3%, 0) rotateZ(0deg);
    -ms-transform: rotateZ(0deg) translate3d(0, 3%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 3%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(359deg) translate3d(0, 3%, 0) rotateZ(-359deg);
    -ms-transform: rotateZ(359deg) translate3d(0, 3%, 0) rotateZ(-359deg);
    transform: rotateZ(359deg) translate3d(0, 3%, 0) rotateZ(-359deg);
  }
}
@-webkit-keyframes wave-medium {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 3%, 0) rotateZ(0deg);
    -ms-transform: rotateZ(0deg) translate3d(0, 3%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 3%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(359deg) translate3d(0, 3%, 0) rotateZ(-359deg);
    -ms-transform: rotateZ(359deg) translate3d(0, 3%, 0) rotateZ(-359deg);
    transform: rotateZ(359deg) translate3d(0, 3%, 0) rotateZ(-359deg);
  }
}
@keyframes wave-medium {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 3%, 0) rotateZ(0deg);
    -ms-transform: rotateZ(0deg) translate3d(0, 3%, 0) rotateZ(0deg);
    transform: rotateZ(0deg) translate3d(0, 3%, 0) rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(359deg) translate3d(0, 3%, 0) rotateZ(-359deg);
    -ms-transform: rotateZ(359deg) translate3d(0, 3%, 0) rotateZ(-359deg);
    transform: rotateZ(359deg) translate3d(0, 3%, 0) rotateZ(-359deg);
  }
}
@-webkit-keyframes wave-scale {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 15%, 0) rotateZ(0deg) scale(1);
    -ms-transform: rotateZ(0deg) translate3d(0, 15%, 0) rotateZ(0deg) scale(1);
    transform: rotateZ(0deg) translate3d(0, 15%, 0) rotateZ(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotateZ(180deg) translate3d(0, 15%, 0) rotateZ(-180deg) scale(0.7);
    -ms-transform: rotateZ(180deg) translate3d(0, 15%, 0) rotateZ(-180deg) scale(0.7);
    transform: rotateZ(180deg) translate3d(0, 15%, 0) rotateZ(-180deg) scale(0.7);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 15%, 0) rotateZ(-360deg) scale(1);
    -ms-transform: rotateZ(360deg) translate3d(0, 15%, 0) rotateZ(-360deg) scale(1);
    transform: rotateZ(360deg) translate3d(0, 15%, 0) rotateZ(-360deg) scale(1);
  }
}
@keyframes wave-scale {
  0% {
    -webkit-transform: rotateZ(0deg) translate3d(0, 15%, 0) rotateZ(0deg) scale(1);
    -ms-transform: rotateZ(0deg) translate3d(0, 15%, 0) rotateZ(0deg) scale(1);
    transform: rotateZ(0deg) translate3d(0, 15%, 0) rotateZ(0deg) scale(1);
  }
  50% {
    -webkit-transform: rotateZ(180deg) translate3d(0, 15%, 0) rotateZ(-180deg) scale(0.7);
    -ms-transform: rotateZ(180deg) translate3d(0, 15%, 0) rotateZ(-180deg) scale(0.7);
    transform: rotateZ(180deg) translate3d(0, 15%, 0) rotateZ(-180deg) scale(0.7);
  }
  100% {
    -webkit-transform: rotateZ(360deg) translate3d(0, 15%, 0) rotateZ(-360deg) scale(1);
    -ms-transform: rotateZ(360deg) translate3d(0, 15%, 0) rotateZ(-360deg) scale(1);
    transform: rotateZ(360deg) translate3d(0, 15%, 0) rotateZ(-360deg) scale(1);
  }
}
@-webkit-keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(5%, 0, 0) rotateZ(2deg);
    -ms-transform: translate3d(5%, 0, 0) rotateZ(2deg);
    transform: translate3d(5%, 0, 0) rotateZ(2deg);
  }
  100% {
    -webkit-transform: translate3d(-5%, 0, 0) rotateZ(-2deg);
    -ms-transform: translate3d(-5%, 0, 0) rotateZ(-2deg);
    transform: translate3d(-5%, 0, 0) rotateZ(-2deg);
  }
}
@keyframes lighthouse {
  0% {
    -webkit-transform: translate3d(5%, 0, 0) rotateZ(2deg);
    -ms-transform: translate3d(5%, 0, 0) rotateZ(2deg);
    transform: translate3d(5%, 0, 0) rotateZ(2deg);
  }
  100% {
    -webkit-transform: translate3d(-5%, 0, 0) rotateZ(-2deg);
    -ms-transform: translate3d(-5%, 0, 0) rotateZ(-2deg);
    transform: translate3d(-5%, 0, 0) rotateZ(-2deg);
  }
}
@-webkit-keyframes swing {
  0% {
    -webkit-transform: rotateZ(2deg) translateZ(0);
    -ms-transform: rotateZ(2deg) translateZ(0);
    transform: rotateZ(2deg) translateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(-2deg) translateZ(0);
    -ms-transform: rotateZ(-2deg) translateZ(0);
    transform: rotateZ(-2deg) translateZ(0);
  }
}
@keyframes swing {
  0% {
    -webkit-transform: rotateZ(2deg) translateZ(0);
    -ms-transform: rotateZ(2deg) translateZ(0);
    transform: rotateZ(2deg) translateZ(0);
  }
  100% {
    -webkit-transform: rotateZ(-2deg) translateZ(0);
    -ms-transform: rotateZ(-2deg) translateZ(0);
    transform: rotateZ(-2deg) translateZ(0);
  }
}
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(0px, 14px);
    -ms-transform: translate(0px, 14px);
    transform: translate(0px, 14px);
  }
  50% {
    -webkit-transform: translate(0px, -14px);
    -ms-transform: translate(0px, -14px);
    transform: translate(0px, -14px);
  }
  100% {
    -webkit-transform: translate(0px, 14px);
    -ms-transform: translate(0px, 14px);
    transform: translate(0px, 14px);
  }
}
@keyframes bounce {
  0% {
    -webkit-transform: translate(0px, 14px);
    -ms-transform: translate(0px, 14px);
    transform: translate(0px, 14px);
  }
  50% {
    -webkit-transform: translate(0px, -14px);
    -ms-transform: translate(0px, -14px);
    transform: translate(0px, -14px);
  }
  100% {
    -webkit-transform: translate(0px, 14px);
    -ms-transform: translate(0px, 14px);
    transform: translate(0px, 14px);
  }
}
